{% extends "base.html" %}

{% block page_title %}Profile page{% endblock %}
{% block page_secondary_menu %}
  {% if user.is_authenticated() %}
    <ul>
      <li class="current"><a href="">View</a></li>
      <li><a href="{{ url_for('ProfileView:edit') }}">Edit</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block body %}
<div class='page page-profile'>
  <div class='field field-username'>
    <div class='field-label'>Username:</div>
    <div class='field-value'>{{ user.username }}</div>
  </div>
  <div class='field field-email'>
    <div class='field-label'>Email:</div>
    <div class='field-value'>{{ user.email }}</div>
  </div>
</div>
{% endblock %}