@import "compass/css3/inline-block";

$default-border-radius: 6px;
@import "compass/css3/border-radius";

$page-width: 960px;
$padding: 6px;
$margin: 6px;

$main-color: #FF941A;
$text-color: black;
$bg-color: white;

$font-size: 18px;
$big-font-size: $font-size + 6;
$small-font-size: $font-size - 6;

$contrasted-dark-default: $text-color;
$contrasted-light-default: $bg-color;
$contrasted-lightness-threshold: 30%;
@import "compass/utilities/color/contrast";