input {
  border: solid 1px $text-color;
  color: $text-color;
  font-size: $font-size;
  margin-bottom: $margin;
  width: 300px;
  
  &[type="button"], &[type="submit"] {
    @include border-radius;
    border: none;
    background: $main-color;
    color: $bg-color;
    padding: $padding;

    &:hover {
      background: adjust-lightness($main-color, 10);
      color: adjust-lightness($bg-color, 10);
      cursor: pointer;
    }
  }
}

form {
  ul.field-errors {
    @include border-radius;
    background: adjust-lightness(red, 20);
    border: 1px solid red;
    color: red;
    font-size: $small-font-size;
    margin: -33px auto auto 320px;
    max-width: 250px;
    padding: $padding;
    position: absolute;

    li {
      list-style: none;
    }
  }
}

.form-field.type-BooleanField {
  float: left;
  clear: both;

  .field-label {
    float: right;
  }
  .field-control {
    float: right;

    input {
      width: auto
    }
  }
}

.field {
  .field-label {
  }
  .field-value {
    font-weight: bold;
    padding-left: $padding;
  }
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $margin;

  .row {
    display: table-row;
    text-align: center;

    .cell {
      display: table-cell;
      border: 1px solid $main-color;
    }

    &.heading {
      .cell {
        background: $main-color;
        color: $bg-color;
      }
    }
  }
}

.pagination {
  text-align: center;
  strong {
    color: $main-color;
  }
  a, a:visited {
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: $main-color;
    }
  }
}