header#page-header {
  @include border-bottom-radius;
  background: $main-color;
  color: $text-color;
  clear: both;
  margin: 0px auto $margin auto;
  height: 150px;
  width: $page-width;

  #page-logo {
    padding: $padding;
    float: left;
  }
}

div#page-title {
  width: $page-width;
  margin: 0px auto;
}

div#page-user-menu {
  @include border-bottom-left-radius;
  float: right;
  border-color: $bg-color;
  border-style: solid;
  border-width: 0px 0px 1px 1px;

  ul {
    li {
      list-style: none;
      float: left;
      padding: $padding;

      a {
        color: $bg-color;
        text-decoration: none;
      }
    }
  }
}

div#page-flashed {
  width: $page-width;
  margin: 0px auto;

  ul {
    li {
      @include border-radius;
      background: adjust-lightness(navy, 20);
      border: 1px solid navy;
      color: navy;
      padding: $padding;
      list-style: none;

      &.category-info {
        background: adjust-lightness(navy, 20);
        border-color: navy;
        color: navy;
      }
      &.category-error {
        background: adjust-lightness(red, 20);
        border-color: red;
        color: red;
      }
      &.category-waring {
        background: adjust-lightness(orange, 20);
        border-color: orange;
        color: orange;
      }
    }
  }
}

main#page-content {
  width: $page-width;
  margin: 0px auto;
}

nav#page-nav {
  width: $page-width;
  margin: 0px auto;
  ul {
    @include inline-block;
    li {
      background: $main-color;
      float: left;
      list-style: none;
      padding: $padding;

      &:first-child {
        @include border-left-radius;
      }
      &:last-child {
        @include border-right-radius;
      }

      a {
        color: $bg-color;
        text-decoration: none;

        &:hover {
          color: adjust-lightness($bg-color, 20);
        }
      }
    }
  }
}

footer#page-footer {
  @include border-top-radius;
  background: $main-color;
  color: $bg-color;
  margin: $margin auto 0px auto;
  width: $page-width;

  #copyright {
    font-size: $small-font-size;
    text-align: center;
  }
}