<!DOCTYPE html>
<html>
  <head>
    <title>Flask test task.</title>
    <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/style.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="/static/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="/static/script/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/static/script/script.js"></script>
  <head>
  <body>
    <header id="page-header">
      {% block header %}
        <div id="page-logo">
          <img src="/static/images/logo.png" />
        </div>
      {% endblock %}
    </header>
    <nav id="page-nav">
      {% block nav %}
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('remote')}}">Remote control</a></li>
          <li><a href="{{url_for('music')}}">Music</a></li>
          <li><a href="{{url_for('index', page='about')}}">Music</a></li>
        </ul>
      {% endblock %}
    </nav>
    <div id="page-title"><h1>{% block page_title %}Page title{% endblock %}</h1></div>
    {% block page_flashed %}
      <div id="page-flashed">
        {% with messages = get_flashed_messages(with_categories=true) %}
          <ul>
            {% if messages %}
              {% for category, message in messages %}
                <li class="category-{{category}}">{{ message }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endwith %}
      </div>
    {% endblock %}
    <main id="page-content">
      {% block body %}{% endblock %}
    </main>
    <footer id="page-footer">
      <div id='copyright'>
        © 2014 - Viktor Likin for Fast Monkeys.
      </div>
    </footer>
  </body>
</html>